project/.import/icon.png-487276ed1e3a0c39cad0279d744ee560.md5
project/.import/icon.png-487276ed1e3a0c39cad0279d744ee560.stex
.sconsign.dblite
godot-cpp/
project/bin/win64
vc140.idb
vc140.pdb
icon.png
icon.png.import
*.obj
*.import
project/export_presets.cfg
project/.import/player_model.glb-7d28f81c8e15d1992e33036669dafafc.md5
project/.import/player_model.glb-7d28f81c8e15d1992e33036669dafafc.scn
